{% extends "base-loggedin.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="content-section">
					<h3> Student Dashboard </h3>
					<ul class="list-group">
						<li class="list-group-item list-group-item-light"><a href="/userdash/"> View Courses</a></li>
						<li class="list-group-item list-group-item-light"><a href="/profilesetup/"> Edit Courses</a></li>
						<li class="list-group-item list-group-item-light"><a href="/userdash/"> User Settings</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<div class="container">
					{% if Jobs %}
						<h2>Recommended Jobs ({{ len }})</h2>
						{% for result in results %}
								<li>{{result.job_title}}</li>
						{% endfor %}

					{% else %}
						<h2>Select Courses to find jobs.</h2>
					{% endif %}



			</div>

		</div>
		<padding></padding>
	</div>
{% endblock content %}
