<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--Much thanks to the folks over at W3 for the Bootstrap Template! !-->
  <head>
    <body style="background-color:#778899;">
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css"
    type="text/css">
    <title>Alex Ruiz IT 130 Assignment 4 Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">HOME</a></li>
          <li><a href="greetings.html"target="_blank">GREETINGS</a></li>
          <li><a href="alerts.html"target="_blank">ALERT</a></li>
          <li><a href="story.html"target="_blank">STORY</a></li>
          <li><a href="conversion.html"target="_blank">CONVERSION</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </nav>
  <h2 class="title">Alex Ruiz :D </h2>
  <h2 class="title">&#9660;</h2>

  </body>

<script src="index.js"></script>
</html>
